.htmlclass{
    background-color: #dcdcdc;
}
.container{
    background-color: #dcdcdc;
    min-height: 100%;
    width: 70%;
    font-family: 'Muli', sans-serif;
    position: relative;
    margin: 0 auto;
}

#navigation{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: auto;
    padding-right: auto;
}

.content {
    padding-bottom: 190px;
}   

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.menu {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 190px;
    border-top: 1px solid #dcdcdc;
    font-size: .8em;
    margin-top: -40px;
}

hr {
    width: 70%;
    position: absolute;
    align-items: center;
    align-content: center;
}

.image{
    width: 70%;
    position: relative;
    align-content: center;
    align-items: center;
    align-self: center;
}