---
layout: default
title: Andre Fu
---

<div class="intro">
    <h1>
        Hi, my name is Andre!
    </h1>

    
    <div class="text-center">
        <img src="/assets/profile_pic.PNG" style="width: 25%; height: 25%;">
    </div>

    <div class="row"><div class="col-xs-12" style="height: 30px"></div>
    <h4>
        I'm a second year Chemical Engineering Student at the University of Toronto! I'm passionate about Software Engineering, bioinformatics and Machine Learning. 
    </h4>
    


    
    <!-- <img src="/assets/1st_image.jpg" alt="Pic of andre" class="image"> --> 
    

    <!-- <ul class="projects">
        {% for post in site.posts limit:7 %}
			{% if posts.tags contains 'post'%}
				<li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endif %}
		{% endfor %}
    </ul> --> 
</div>
